*{
    padding: 0;
    margin: 0;
}
.promote{
    background-color: transparent;
    width: 90%;
    padding: 5%;
    text-align: center;
}
.cards{
    width: 90%;
    padding: 5%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    gap: 20px;
}
.cards__card{
    display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   gap: 20px;
}
.cards__image{
    width: 50px ;
}
.promote__title{
    font-weight: 500;
    padding-bottom: 80px;
}
.promote__img{
    width: 500px;
}
.promote__text{
    padding-bottom: 50px;
}
@media screen and (max-width: 550px) {
    .cards{
        flex-direction: column;
    }
}
@media screen and (max-width: 550px) {
    .promote{
        flex-direction: row;
    }
}
.screen2{
    width: 90%;
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
}
.screen2__img{
    width: 45%;
}
.screen2__left-container{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
@media screen and (max-width: 550px){
    .screen2{
        flex-direction: column;
        gap: 40px  ;
    }
    .screen2__img{
        width: 90%;
    }
    .screen2__left-container{
        width: 90%;
    }
}
.features__title{
    text-align: center;
    font-size: 32px;
    padding-top: 20px;
}
.cards2{
    width: 90%;
    padding: 5%;
    gap: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cards2.card{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.cards2__img{
    width: 300px;
    height: 200px;
    border-radius: 15px;
}
.cards2__text{
    font-size: 15px;  
}
@media screen and (max-width: 550px){
    .cards2{
        flex-direction: column;
    }
}